body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(176, 251, 251);
    
}
header{
    background-image: url('../img/cuaderno-profesor.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
     

}
.container{
    max-width:1100px;
    display: block;
    margin-left:auto ;
    margin-right:auto;
}



footer div{
    height: 70px;
    margin-top: 20px;
    ;
}
.card img {
    height: 250px;
    width: auto;
}
.card{
    height: 600px;
}